<div class="card">
  <h2>About extra</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam asperiores ea eius est inventore officiis quam sint veritatis, voluptatibus!</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam asperiores ea eius est inventore officiis quam sint veritatis, voluptatibus!</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam asperiores ea eius est inventore officiis quam sint veritatis, voluptatibus!</p>

</div>
